@import "tailwindcss";

@theme {
  --font-ecb: "Euclid Circular B", sans-serif;
  --color-pri-black: "#191919";
  --color-mid-gray: "#606060";
}

/* Calendar resets */

.fc-daygrid-day {
  border: 1px solid #242424 !important;
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 6px;
}

.fc-daygrid-day-number {
  font-size: 14px;
  color: white;
}

.fc-today-highlight {
  background-color: #2563eb !important;
  color: white !important;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin: auto;
}

.fc-col-header-cell {
  border: 1px solid #242424 !important;
  padding: 8px 0 !important;
}

.fc-col-header-cell-cushion {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.fc-theme-standard {
  border: 1px solid #242424 !important;
}

.fc-dark {
  --fc-border-color: #242424;
}

.fc-dark.fc-theme-standard {
  border: 1px solid #242424 !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background: transparent !important;
}
